[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet = 16M
max_connections = 200
skip-name-resolve

# agar log terlihat di log Docker
general_log = 1
general_log_file = /var/log/mysql/mysql.log

[client]
default-character-set = utf8mb4